<div class="principal">
    <div class="background">
    </div>
    <div class="textos">
        <div class="uno">

            <h3>SI LO PUEDES IMAGINAR</h3>

            <h1>Lo PUEDES LOGRAR </h1>

            <h4>Nosotros nos encargamos</h4>

          
        </div>  

      <!--  <div class="informacion">
            <p>
                Somos una empresa dedicada al desarrollo de software de calidad, Contamos con las mejores habilidades y competencias con las cuales podemos superar cualquier obstáculo. 
            </p>
        </div>
   

        <div class="dos">
            <a class="btn" (click)="animacion()">
                <div class="boton">
                    <span class="text">{{texto}}</span>
                </div>
            </a>
            
        </div>-->
    </div>
</div>