* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.principal {
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.background {
    width: 100%;
    height: 100vh;
    background: url("../../assets/background.png")no-repeat transparent;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
    background-position: center;
    z-index: 1 !important;
}

.textos {
    height: 50%;
    position: absolute;
    top: 20vh;
    color: white;
    margin-top: 10vh;
    margin-left: 10%;
    width: 80%;
    z-index: 1 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify!important;
        -ms-flex-pack: justify!important;
            justify-content: space-between!important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.uno {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.textos .uno h4 {
    font-size: 30px;
}

.textos .uno h3 {
    font-size: 40px;
    text-transform: uppercase;
}

.textos .uno h1 {
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}


.informacion{
    position: absolute;
    margin-top: 35vh;
    width: 80%;
    height: 30%;
    

}
.informacion p{
    font-size: 24px;
}

.dos {
    z-index: 2!important;
    background: url("../../assets/background.png")no-repeat transparent;
   
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-top: 35vh;
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.boton {
    width: 100%;
    height: 60px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.boton:hover {
    border-color: #20C98B;
    color: #20C98B;
}

a {
    border-radius: 10px;
    width: 225px;
    height: 50px;
    color: white;
}

a:hover {
    text-decoration: none;
}

.boton .text {
    padding-top: .3vw;
    width: 100%;
    height: 100%;
    font-size: 28px;
}

@media (max-width: 1000px) {
    .background {
        position: relative;
    }
    .textos {
        display: inline-block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .textos h4 {
        font-size: 14px!important;
    }
    h3 {
        font-size: 26px!important;
    }
    h1 {
        font-size: 35px!important;
    }
    a {
        width: 130px!important;
    }
    .boton {
        height: 30px!important;
        border-radius: .7vh;
    }
    .boton .text {
        font-size: 13px!important;
    }

    p{
        font-size: 13px!important;
    }
}


@media(max-width:350px) {

    p {
        font-size: 11px!important;
    }
 
}

