<footer>
    <div class="container">

        <div class="contacto">
            <h6>© Copyright 2021 Inblex Soluciones de Software</h6>
        </div>

       <!-- <div class="redes-sociales">
            <h6>Aviso Legal &nbsp; &nbsp;</h6>
            <h6>Política de privacidad &nbsp; &nbsp;</h6>
            <h6>Política de Cookies &nbsp; &nbsp;</h6>
            <h6>Contacto &nbsp; &nbsp;</h6>
        </div>
        -->

    </div>


</footer>