<div class="barraT" style="display: block">
    <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"></canvas>
    
</div>
<div class="control" *ngIf="uBarra">
    <th id="total" > Progreso Total: {{uBarra.progresoTotal}} </th>

</div>
