* {
    font-family: 'Ginebra';
    font-size: 15px; 
}

@media (max-width: 767px){
    .barraA,
    .control{
        width: 90%;
        height: 80%;
        position: absolute;
        top: 15%;
        left: 5%;

    }
}