<div class="barraA" style="display: block">
    <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"></canvas>
    
</div>

<div class="control" *ngIf="uBarra">
    <th id="total" > Progreso Sprint Actual: {{uBarra.progresoSprintActual}} </th>

</div>


