<div class="container">
    <form (ngSubmit)="created()" class="box">
        <h1>Registro</h1>

        <input type="text" [(ngModel)]="registrar.nombre" name="nombre" class="form-control" placeholder="Tu nombre." />
        <input type="text" [(ngModel)]="registrar.apellido" name="apellido" class="form-control" placeholder="Tu Apellido." />



        <input type="text" [(ngModel)]="registrar.telefono" name="telefono" class="form-control" placeholder="Tu Telefono." />
        <input type="email" [(ngModel)]="registrar.email" name="email" class="form-control" placeholder="Tu correo electronico." />


        <!--     <span> Tipo de persona<select name="personaMoral" id="" [(ngModel)]="registrar.personaMoral">
                    <option value=0>Persona Fisica</option>
                    <option value=1>Persona Moral</option>
                </select></span>    -->

        <input type="text" [(ngModel)]="registrar.rfc" name="rfc" class="form-control" placeholder="Tu RFC." />
        <input type="password" [(ngModel)]="registrar.password" name="password" class="form-control" placeholder="Tu contraseña." />


        <!-- Button -->
        <div class="btn-login">
            <input type="submit" name="Rbtn" id="Rbtn" value="Registrar" />
            <a id="cancelar" [routerLink]="['/']">Cancelar</a>
        </div>
    </form>
</div>