<div class="contenedor">
    <div class="titulo">
        <h1 class="subtitulo">Contacto</h1>
        <!--Ortografía verificada-->
        <div class="forma"><span></span></div>
    </div>
    <div class="bloque">
        <div class="texto">
            <h2>NOS ENCARGAMOS DE QUE LAS COSAS PASEN</h2>
            <!--Ortografía verificada-->
            <p>¿Estás buscando soluciones de desarrollo de software o consulta de confianza para guiar sus decisiones? Nos encantaría conocer sus desafíos más difíciles y sus objetivos generales. Su misión es lo que nos impulsa.
            </p>
            <!--Ortografía verificada-->

        </div>

        <form name="angularForm" #contactForm="ngForm">
            <div class="form">
                <div class="formgroup">
                    <div class="campo">

                        <label>Nombre<span class="n" *ngIf="name.invalid"><i style="color:#c94720">*</i></span><span
                                class="n" *ngIf="name.valid"><i style="color:#20C98B">*</i></span></label>
                        <!--Ortografía verificada-->
                    </div>
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="n1" #name="ngModel" [(ngModel)]="formulario.nombreCliente" required minlength="4" />

                    <div *ngIf="name.invalid && (name.dirty || name.touched)" style="color:#c94720">

                        <div *ngIf="name.errors.required">
                            Introduzca su nombre o el nombre de su empresa.
                            <!--Ortografía verificada-->
                        </div>

                        <div *ngIf="name.errors.minlength">
                            El nombre tiene que ser de mínimo cuatro caracteres.
                            <!--Ortografía verificada-->
                        </div>

                        <div *ngIf="name.errors.forbiddenName">
                            Name cannot be Bob.
                        </div>
                    </div>
                </div>
                <div class="formgroup">
                    <div class="campo">
                        <label>Email<span class="e" *ngIf="email.invalid"><i style="color:#c94720">*</i></span><span
                                class="n" *ngIf="email.valid"><i style="color:#20C98B">*</i></span></label>
                    </div>

                    <input type="text" name="email" class="form-control" #email="ngModel" [(ngModel)]="formulario.emailCliente" required email />

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" style="color:#c94720">



                        <div *ngIf="!email.errors?.pattern">
                            Introduzca un Email valido.
                            <!--Ortografía verificada-->
                        </div>
                    </div>
                </div>
                <div class="formgroup">
                    <div class="campo">
                        <label>Teléfono (Opcional)</label>
                        <!--Ortografía verificada-->
                    </div>

                    <input type="text" name="telefono" class="form-control" [(ngModel)]="formulario.telefonoCliente" />
                </div>
                <div class="formgroup">
                    <div class="campo">
                        <label>Mensaje<span class="m" *ngIf="message.invalid"><i style="color:#c94720">*</i></span><span
                                class="n" *ngIf="message.valid"><i style="color:#20C98B">*</i></span></label>
                        <!--Ortografía verificada-->
                    </div>


                    <textarea name="mensaje" class="form-control" #message="ngModel" [(ngModel)]="formulario.content" required minlength="8"></textarea>

                    <div *ngIf="message.invalid && (message.dirty || message.touched)" style="color:#c94720">



                        <div *ngIf="message.errors.required">
                            Introduzca su mensaje.
                            <!--Ortografía verificada-->

                        </div>
                        <div *ngIf="message.errors.minlength">
                            El mensaje es demasiado corto.
                            <!--Ortografía verificada-->
                        </div>
                    </div>

                </div>
                <div class="boton">
                    <div *ngIf="!contactForm.form.valid">
                        <button class="enviar" (click)="error()">enviar</button>
                    </div>
                    <div *ngIf="contactForm.form.valid">
                        <button class="enviar" (click)="sendForm()">enviar</button>
                    </div>
                </div>
                <i class="errorText" style="visibility: hidden;">Por favor rellene los campos solicitados...</i>
                <!--Ortografía verificada-->
            </div>
        </form>

    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>{{titulo}}</h2>
            <!--Ortografía verificada-->
            <button class="close" (click)="hidePoopup()">&times;</button>
            <div class="content">
                {{mensaje}}
                <!--Ortografía verificada-->
            </div>
        </div>
    </div>
</div>