.contenedor {
    background: #f2f2f2;
}

.titulo .forma span {
    border-color: #20C98B;
}

.bloque {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.texto {
    width: 50%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

form {
    width: 50%;
}

.form {
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.formgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.campo {
    width: 50%;
}

input,
textarea,
.enviar {
    width: 50%;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
}

input:focus,
textarea:focus .enviar:focus {
    border: solid 3px #20C98B;
}

.enviar {
    background-color: #20C98B;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}

.enviar:hover {
    background-color: #20C98B;
}

.enviar {
    width: 21%;
}

.overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.errorText {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    position: relative;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

label {
    float: left;
    font-size: 20px;
    font-weight: lighter;
}

h2 {
    width: 60%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h4 {
    width: 60%;
    text-align: center;
}

p {
    width: 60%;
    font-size: 21px;
    font-weight: lighter;
    text-align: justify;
    font-style: oblique;
}

i {
    color: #c94720;
}

@media(max-width:992px) {
    .titulo {
        height: 120px!important;
    }
    .bloque {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .texto {
        width: 100%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly!important;
        -ms-flex-pack: space-evenly!important;
        justify-content: space-evenly!important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .boton {
        padding-bottom: 6%;
    }
    form {
        width: 80%;
    }
    .form {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
    }
    input,
    textarea {
        width: 90%;
        font-size: 12px;
        font-weight: lighter;
    }
    input,
    textarea {
        border: none;
        border-radius: 20px;
        outline: none;
        padding: 10px;
    }
    .boton button {
        width: 100px;
    }
    button[type="submit"] {
        font-size: 10px;
    }
    .campo {
        width: 75%;
    }
    label {
        font-size: 12px;
        font-weight: lighter;
    }
    .formgroup {
        width: 100%;
        font-size: 12px;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .popup {
        width: 80%;
    }
    .popup h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 19px;
    }
    h2 {
        width: 90%;
        font-size: 13px;
    }
    h4 {
        width: 90%;
        font-size: 14px;
    }
    p {
        width: 90%;
        font-size: 12px;
    }
    i {
        font-size: 11px;
    }
}

@media(max-width:400px) {
    .popup {
        width: fit-content;
        height: 200px;
    }
    .popup h2 {
        padding-top: 35px;
    }
}