<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<div class="principal">

    <div>
        <div id="wrapper" class="animate">
            <header>
                <nav class="navbar header-top fixed-top navbar-expand-lg   " id="navbar">
                    <div class="bloque">

                        <div class="logo">
                            <a class="navbar-brand" [routerLink]="['/']" data-scroll="inicio"><img src="{{assets}}/inblex-logo_horizontal-blanco2.png" alt=""></a>
                        </div>

                        <div class="menu">
                            <button class="navbar-toggler" (click)="botonMenu()" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarText">
                            <!-- Este menu esta desablitado por el momento
                            <ul class="navbar-nav animate side-nav">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/uperfil']"><img src="../assets/perfil.png"> <i class="fas fa-comment"></i><span class="ttip">PERFIL</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/uproyecto']"> <img src="../assets/proyectos.png"><i class="fas fa-comment"></i><span class="ttip">PROYECTOS</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/agenda']"><img src="../assets/agenda.png"> <i class="fas fa-comment"></i><span class="ttip">AGENDA</span></a>
                                </li>        
                            </ul>
                            -->
                            <ul class="navbar-nav ml-md-auto d-md-flex">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/']" data-scroll="inicio" (click)="ocultarMenu()"><i
                                            class="fas fa-user"></i>
                                        <h6>Inicio</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/']" data-scroll="servicios" (click)="ocultarMenu()"><i
                                            class="fas fa-user"></i>
                                        <h6>Servicios</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/']" data-scroll="proyectos" (click)="ocultarMenu()"><i
                                            class="fas fa-user"></i>
                                        <h6>Sobre nosotros</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/']" data-scroll="contacto" (click)="ocultarMenu()"><i
                                            class="fas fa-user"></i>
                                        <h6>Trabajemos juntos</h6>
                                    </a>
                                </li>
                                <!-- ESTO ESTA DESABILITADO DE MOMENTO
                                    <div *ngIf="!loggedOn">
                                    <li class="nav-item">
                                        <a class="nav-link" [routerLink]="['/login']"><i class="fas fa-key"></i> INGRESAR</a>
                                    </li>
                                </div>
                                <div *ngIf="loggedOn">
                                    <li class="nav-item">
                                        <a href="\\" class="nav-link" (click)="cerrarSesion()"><i class="fas fa-key"></i> Cerrar sesion</a>
                                    </li>
                                </div>
                                -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="bloques">
                <div id="inicio" class="block1">
                    <app-inicio></app-inicio>
                </div>

                <!-- <div class="soluciones">
                    <div class="titulo">
                        <h1>SOLUCIONES: </h1>
                    </div>

                    <div class="palabras">
                        <span class="1">
                                <h1>{{text}}</h1>
                            </span>
                        <span class="2">
                                <h1>INTELIGENTES</h1>
                            </span>
                        <span class="3">
                                <h1>INNOVADORAS</h1>
                            </span>
                        <span class="4">
                                <h1>PERSONALIZADAS</h1>
                            </span>
                        <span class="5">
                                <h1>COMPLETAS</h1>
                            </span>
                    </div>

                </div>
                -->

                <div id="servicios" class="block">
                    <app-servicios></app-servicios>
                </div>

                <div id="proyectos" class="block">
                    <app-proyectos></app-proyectos>
                </div>


                <div id="contacto" class="block">
                    <app-contacto></app-contacto>

                </div>
                <!---<app-barra-progreso></app-barra-progreso>--->
                <!---End Section--->
                <!---srart scroll To Top--->
                <a class="scroll-top" href="#"></a>

                <!---End scroll To Top--->

                <router-outlet></router-outlet>

                <div id="footer" class="block">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </div>
</div>