* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}

nav {
    width: 100%;
    z-index: 2;
    position: absolute;
    /* position: fixed;*/
    margin: 0px;
    padding: 0px;
}

.navbar {
    position: fixed!important;
    height: 0vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px!important;
    padding: 0px !important;
}

.bloque {
    display: inline-block;
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#wrapper {
    padding: 0px;
}

.navbar-expand-lg .navbar-nav.side-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.logo {
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar-brand img {
    width: 300px;
}

.header-top {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 15px;
}

.navbar-white {
    background: white;
}

.menu {
    z-index: 3;
}

@media(min-width:992px) {
    ul {
        margin-top: 0vw!important;
        width: 100%;
    }
}

@media(max-width:992px) {
    #wrapper {
        margin-left: 0px;
    }
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 50%;
    }
    .navbar-brand img {
        width: 150px!important;
    }
    #navbarText {
        position: absolute;
        width: 100%!important;
        right: 0%;
    }
    ul {
        margin-top: 17vh;
        padding-top: 5vh;
        width: 100%!important;
        background-color: rgba(0, 0, 0, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
        -webkit-box-pack: unset!important;
        -ms-flex-pack: unset!important;
        justify-content: unset!important;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 60px;
    }
    ul li a h6 {
        font-size: 14px!important;
    }
    ul li {
        padding-left: 15px;
        padding-bottom: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
        -webkit-box-pack: unset!important;
        -ms-flex-pack: unset!important;
        justify-content: unset!important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media(max-width:400px) {
    nav {
        height: 60px;
    }
    .bloque {
        height: 60px;
    }
    .menu {
        height: 100%;
        width: 30%;
    }
    .logo {
        height: 100%;
        width: 70%;
    }
}

@media(max-height:650px) {
    .bloque {
        height: 60px;
    }
}

#navbarText {
    width: 50%;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ul li a {
    text-decoration: none;
}

ul li a h6 {
    color: white;
    font-size: 20px;
}

ul li a h6:hover {
    color: #20C98B;
}

.bloques {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.soluciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 125%;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.titulo {
    text-align: end;
    width: 50%;
    padding-left: 100px;
}

.palabras {
    z-index: 1;
    width: 50%;
    padding-left: 20px;
}

.soluciones h1 {
    font-size: 90px;
}

.block {
    text-align: center;
}

.contacto {
    background-color: #DFE5E1;
    background-attachment: fixed;
    background-size: cover;
}

.block1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

@media (max-width: 767px) {
    .principal {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}