<div class="principal"></div>
<div class="container" *ngIf="clienteDatos">
    <div class="row login_box">
        <div class="col-md-12 col-xs-12">
            <div class="line">
                <h1>Bienvenido</h1>
            </div>

            <div class="outter"><img class="image-circle" src="../../assets/coolcat.png" /></div>
            <h1>Hola {{clienteDatos.nombre}}!</h1>

        </div>

        <div class="col-md-12 col-xs-12 login_control">
            <div class="control">
                <div class="label">Nombre</div>
                <input type="text" value="{{clienteDatos.nombre}} {{clienteDatos.apellido}}" class="form-control" />
            </div>

            <div class="control">
                <div class="label">Correo Electronico</div>
                <input type="text" class="form-control" value="{{clienteDatos.email}}" />
            </div>

            <div class="control">
                <div class="label">Telefono</div>
                <input type="text" class="form-control" value="{{clienteDatos.telefono}}" />
            </div>

            <div class="control">
                <div class="label">Contraseña</div>
                <input type="password" class="form-control" value="{{clienteDatos.password}}" />
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="line" >
               
                <br>
            </div>
        </div>
    </div>
</div>