<div class="principal"></div>
<div class="container">
    <div class="row login_box">
        <div class="col-md-12 col-xs-12">
            <h1>Proyectos</h1>
        </div>
        <div class="col-md-12 col-xs-12 login_control">
            <table *ngIf="uProyecto">
                <div *ngFor="let item of uProyecto">
                    <div *ngIf="!detalles">
                        <a href="\\" (click)="mostrarDetalles(item.posicion)">
                            <div>
                                <div class="control">
                                    <th> {{item.nombre}} </th>
                                </div>
                                <div class="control">
                                    <th> Estado del proyecto: {{estadoProyecto}}</th>
                                </div>
                            </div>

                        </a>

                    </div>
                   

                </div>

                <div *ngIf="detalles">
                    <a href="\\" (click)="salir()"><span><img src="../../assets/plus.png" alt=""></span></a>
                    <div class="control">
                        <app-barra-progreso [id]="uProyecto[id].id"></app-barra-progreso>
                    </div>
                    <div class="control">
                        <app-barra-t [id]="uProyecto[id].id"></app-barra-t>
                    </div>
                    <div class="control">
                        ID: {{id}}
                        <th> Descripcion: {{uProyecto[id].descripcion}} </th>
                    </div>

                    <div class="control">
                        <th> Fecha estimada: {{uProyecto[id].fechaEstimada}} </th>
                    </div>
                </div>


            </table>
        </div>
        <div class="col-md-12 col-xs-12">
        </div>
    </div>
</div>