<div class="contenedor">
    <div class="titulo">
        <h1 class="subtitulo">Nuestros servicios</h1>
        <div class="forma"><span></span></div>
    </div>
    <div class="contenido">
        <div class="moviles bloque">
            <div class="bloque2">
                <div class="imagen default"></div>
            </div>
            <div class="general">
                <div class="nombre">
                    <h2 class="tema">Desarrollo de aplicaciones móviles</h2>
                </div>
                <div class="descripcion">
                    <p>
                        Desarrollamos aplicaciones adaptables a dispositivos móviles que den solución a las necesidades de su empresa. Ofrecemos pruebas betas durante el desarrollo para un resultado satisfactorio.
                    </p>
                </div>
                <!--
                    <div class="informacion">
                    <a href="https://latam.casadellibro.com/ebooks">
                        <div class="boton">
                            <span>Leer más</span>
                        </div>
                    </a>
                </div>
            -->
            </div>
        </div>
        <div class="software bloque">
            <div class="bloque2">
                <div class="imagen default"></div>
            </div>
            <div class="general">
                <div class="nombre">
                    <h2 class="tema">Desarrollo de software a la medida</h2>
                </div>
                <div class="descripcion">
                    <p>
                        Estamos especializados en desarrollo de software a medida. Realizamos proyectos tecnológicos personalizados y adaptados a cada empresa o idea de negocio.
                    </p>
                </div>
                <!--
                    <div class="informacion">
                    <a href="https://latam.casadellibro.com/ebooks">
                        <div class="boton">
                            <span>Leer más</span>
                        </div>
                    </a>
                </div>
            -->
            </div>
        </div>
        <div class="consultorias bloque">
            <div class="bloque2">
                <div class="imagen default"></div>
            </div>
            <div class="general">
                <div class="nombre">
                    <h2 class="tema">Consultoría especializada</h2>
                </div>
                <div class="descripcion">
                    <p>
                        Ofrecemos a nuestros clientes un análisis que nos permita implementar soluciones estratégicas para agilizar y optimizar las operaciones tecnológicas de su empresa.
                    </p>
                </div>
                <!--
                    <div class="informacion">
                    <a href="https://latam.casadellibro.com/ebooks">
                        <div class="boton">
                            <span>Leer más</span>
                        </div>
                    </a>
                </div>
            -->
            </div>
        </div>
    </div>
</div>