.titulo .forma span {
    border-color: #20C98B;
}

.contenido {
    width: 100%;
    height: 85%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.contenido .moviles .imagen {
    background: url("../../assets/ui-design.png")no-repeat transparent;
    background-size: contain;
}

.contenido .software .imagen {
    background: url("../../assets/binary.png")no-repeat transparent;
    background-size: contain;
}

.contenido .consultorias .imagen {
    background: url("../../assets/collaboration.png")no-repeat transparent;
    background-size: contain;
}

.bloque {
    width: 300px;
    height: 90%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bloque2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 14vw!important;
}

.general {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.default {
    width: 10vw;
    height: 10vw;
    z-index: 1;
}

.nombre {
    width: 100%;
    height: 10%;
}

.descripcion {
    width: 100%;
    height: 40%;
}

.informacion {
    width: 40%;
    height: 2vw;
}

.boton {
    border-style: solid;
    border-color: #20C98B;
    border-radius: .3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

a .boton:hover {
    color: white;
    background: #20C98B;
}

a {
    color: #20C98B;
}

a:hover {
    text-decoration: none;
}

.boton span {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

p {
    font-weight: lighter;
    font-style: oblique;
}

@media(max-width:992px) {
    .contenido {
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .bloque {
        height: 33%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .bloque2 {
        width: 85px!important;
        height: 70px!important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center!important;
            -ms-flex-pack: center!important;
                justify-content: center!important;
        -webkit-box-align: center!important;
            -ms-flex-align: center!important;
                align-items: center!important;
    }
    .general {
        width: 90%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .default {
        width: 85px!important;
        height: 85px!important;
    }
    h2 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .informacion {
        width: 90px;
        height: 25px;
        margin-top: 12px;
        border-radius: .3vw;
    }
    .informacion .boton span {
        font-size: 12px!important;
        color: #20C98B;
    }
    .nombre {
        width: 95%;
        margin-top: 0px;
    }
    .descripcion {
        width: 95%;
        margin-top: 0px;
    }
}

@media(max-width:350px) {
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 13px;
    }
    p {
        font-size: 11px;
    }
    .default {
        width: 60px!important;
        height: 60px!important;
    }
}