.contenedor{
 
    padding-top: 0%;

}

.titulo {
    background-color: #20C98B;
    height: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.titulo .forma {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.titulo .forma span {
    width: 6%;
    border-style: solid;
    border-color: white;
    border-radius: .7vw;
}

h1 {
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}

.lema {
    font-size: 25px;
    color: white;
}

h4 {
    font-weight: lighter;
    font-weight: bolder;
    font-style: italic;
}

p {
    width: 100%;
    height: 100%;
    font-weight: lighter;
}

.descripcion {
    width: 100%;
    height: 65%;
    float: center!important;
}

.bloque {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fondo {
    width: 320px;
    height: 90%;
    max-height: 400px;
    background: #f2f2f2;
    border-bottom: 6px solid #20C98B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cabecera {
    width: 100%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.imagen {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

img {
    width: 150px;
}

.cuerpo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: center!important;
    width: 95%;
    height: 65%;
}

.encabezado {
    width: 100%;
    float: center!important;
}

@media(max-width:992px) {
    .titulo {
        height: 15%;
        padding-top: 3%;
    }
    .titulo .forma span {
        width: 60px;
        border-style: solid;
        border-radius: 5px;
    }
    .bloque {
        width: 100%;
        height: 85%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly!important;
            -ms-flex-pack: space-evenly!important;
                justify-content: space-evenly!important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 1%;
    }
    .fondo {
        width: 90%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center!important;
            -ms-flex-align: center!important;
                align-items: center!important;
    }
    .cabecera {
        width: 20%;
        height: 100%!important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    img {
        width: 100%!important;
    }
    .cuerpo {
        width: 80%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center!important;
            -ms-flex-pack: center!important;
                justify-content: center!important;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .encabezado {
        width: 98%;
        height: 15%;
    }
    .descripcion {
        width: 98%;
        height: auto;
    }
    h1 {
        font-size: 19px;
    }
    h2 {
        font-size: 16px!important;
    }
    h4 {
        font-size: 14px;
    }
    p {
        font-size: 11px;
    }
    .img {
        height: 50%;
        width: 50%;
    }
}