<div class="contenedor">
    <div class="titulo">
        <h1>¿Como trabajamos?</h1>
        <div class="forma"><span></span></div>
        <h2 class="lema">Tu misión es nuestra misión</h2>
    </div>
    <div class="bloque">
        <div class="fondo">
            <div class="cabecera">
                <img src="{{assets}}/collaboration.png" alt="">
            </div>
            <div class="cuerpo">
                <div class="encabezado">
                    <h4 class="tema">Planeamos</h4>
                </div>
                <div class="descripcion">
                    <p>Nuestra metodología de trabajo nos permite ir de la mano con el cliente para comprender sus problemas e identificar soluciones, con resultados comprobables en cada etapa del desarrollo.</p>
                </div>
            </div>
        </div>
        <div class="fondo desarrollamos">
            <div class="cabecera">
                <img src="{{assets}}/algorithm.png" alt="">
            </div>
            <div class="cuerpo">
                <div class="encabezado">
                    <h4 class="tema">Desarrollamos</h4>
                </div>
                <div class="descripcion">
                    <p>Desarrollamos justo lo que necesita. Nos adaptamos a sus necesidades e ideas para hacerlas realidad.</p>
                </div>
            </div>
        </div>
        <div class="fondo">
            <div class="cabecera">
                <img src="{{assets}}/responsive-design.png" alt="">
            </div>
            <div class="cuerpo">
                <div class="encabezado">
                    <h4 class="tema"> Implementamos </h4>
                </div>
                <div class="descripcion">
                    <p>Ofrecemos capacitación personalizada. Servicio de mantenimiento y actualizaciones necesarias para satisfacer las necesidades de la empresa.</p>
                </div>
            </div>
        </div>
    </div>
</div>