/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Muli', sans-serif, Verdana;
}

.contenedor {
    width: 100%;
    height: 100vh;
    z-index: 5!important;
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.titulo {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.titulo .subtitulo {
    font-size: 35px;
    margin-bottom: 2%;
    font-weight: bolder;
    text-transform: uppercase;
}

.titulo .forma {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.titulo .forma span {
    width: 6%;
    border-style: solid;
    border-radius: .7vw;
}

.tema {
    font-size: 25px;
    font-weight: lighter;
    font-weight: bolder;
    font-style: italic;
}

p {
    font-size: 18px;
}

@media(max-width:992px) {
    .titulo {
        height: 50px;
    }
    .titulo .subtitulo {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .titulo .forma span {
        width: 60px;
        border-style: solid;
        border-radius: 5px;
    }
}

@media(max-height:650px) {
    .contenedor {
        height: 650px;
    }
}