.container {
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 20vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
    opacity: .97;
}

.box {
    width: 25%;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: rgb(24, 25, 26);
    text-align: center;
    border-radius: 5%;
}

.box a span {
    color: #d2dae2;
    display: block;
    float: right;
    font-size: 20px;
}

.box h1 {
    color: #d2dae2;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #4b7bec;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #d2dae2;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 250px;
    border-color: #05c46b;
}

.box input[type="button"],
.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #05c46b;
    padding: 14px 40px;
    outline: none;
    color: #d2dae2;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="button"]:hover,
.box input[type="submit"]:hover {
    background: #05c46b;
}

#informacion {
    color: #e84118;
}

.register a {
    text-decoration: none;
}

*{
    font-family: 'Ginebra';
    font-size: 15px; 
}
h1{
    font-size: 35px;
}

input, a{
    font-size: 15px; 
}


@media (max-width: 767px){
    .box{
        width: 90%;
        height: auto;
        position: center;
       
    }
}