<div class="container">
<form (ngSubmit)="validar()" class="box">
    <a href="#0" class="close"><span class=""></span></a>
    <h1>Ingresar</h1>
    <div class="form-group">
        <input type="text" [(ngModel)]="usuario.username" name="user" class="form-control" placeholder="Usuario" pattern="[a-z]{1,15}"/>
    </div>
    <div class="form-group">
        <input type="password" [(ngModel)]="usuario.password" name="pass" class="form-control"
            placeholder="Contraseña" /> 
            
    </div>



        <input type="submit" name="btn" id="btn" value="Entrar" />

        <input type="button" id="register" [routerLink]="['/register']" value="Registrar" />


        <div id="informacion" *ngIf="enviado && failure">
            <h5>{{mensaje}}</h5>
        </div>


        <a id="cancelar" [routerLink]="['/']">Cancelar</a>

    </form>
</div>