<div class="principal"></div>
<div class="container">
    <div class="row login_box">
        <div class="col-md-12 col-xs-12">
            <div class="line">
                <h1>Agenda</h1>
                <h3>Citas recientes</h3>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 login_control">
            <div class="agendaAct" *ngIf="cambiar">

                <!--   <span>Tema de la cita <select name="select" [(ngModel)]="cita.temaCita">  -->
                <span>
                    <div class="historial" *ngFor="let item of citaArray">
                        <a href="javascript:void(0);" name="citaClick" (click)="edit(item.posicion)">
                            <div class="cita">
                                <div>
                                    <div class="line"></div>
                                    <p>Fecha acordada: {{item.fecha}}</p>
                                </div>
                                <div>
                                    <p>Asunto: {{item.temaCita.tema}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </span>
            </div>

        </div>

        <div class="col-md-12 col-xs-12 login_control">
            <div class="agendaNuevo" *ngIf="!cambiar">
                <!--  <form action="192.168.1.55:8080/api/agenda/cita" method="POST">  -->
                <h4>Para concretar una cita favor de llenar el formulario.</h4>
                <form (ngSubmit)="create()">
                    <table id="agendar" style="margin: 0 auto;">
                        <!--   <span>Tema de la cita <select name="select" [(ngModel)]="cita.temaCita">  -->
                        <span>Tema de la cita <select name="select" [(ngModel)]="test.id">

                                <option *ngFor="let item of agenda" value='{{item.id}}'>{{item.tema}}</option>

                            </select></span>

                        <span> Contenido <textarea name="contenido" id="contenido" cols="10" rows="1"
                                [(ngModel)]="cita.contenido"></textarea></span>

                        <span> Hora<select name="hora" id="" [(ngModel)]="cita.hora">
                                <option value="10:00">10:00</option>
                                <option value="12:00">12:00</option>
                                <option value="14:00">14:00</option>
                                <option value="16:00">16:00</option>
                                <option value="18:00">18:00</option>
                                <option value="20:00">20:00</option>
                            </select></span>

                        <span> Fecha<input type="date" id="start" name="trip-start" min="2020-01-01" max="2020-12-31"
                                [(ngModel)]="cita.fecha" name="fecha" />
                        </span>
                        <input type="submit" class="btn btn-primary" id="agendaBtn" value="Enviar" />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                    </table>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 right">
            <a href="\\" (click)="cambiarVista()"><span><img src="../../assets/plus.png" alt=""></span></a>
        </div>



    </div>

    <br />
</div>

<div class="editar" *ngIf="detalles">
    <div class="detalles" *ngIf="!cambiar" draggable="true">
        <div class="card text-center">
            <div class="card-header">
                {{citaArray[id].tema}}
                <a href="\\" (click)="salir()"><span><img src="../../assets/plus.png" alt=""></span></a>

            </div>
            <div class="card-body">
                <h5 class="card-title">Temas establecidos:</h5>
                <p class="card-text">{{citaArray[id].contenido}}</p>
                <a href="\\" class="btn btn-primary" (click)="act()">Cambiar</a>
            </div>
            <div class="card-footer text-muted">
                {{citaArray[id].fecha}} / {{citaArray[id].hora}}
            </div>
        </div>
    </div>
    <div class="cambiar" *ngIf="cambiar">
        <div class="card text-center">
            <div class="card-header">
                Cambiar información
                <a href="\\" (click)="salir()"><span><img src="../../assets/plus.png" alt=""></span></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Temas establecidos:</h5>

                <form (ngSubmit)="actualizar()">

                    <span>Tema de la cita <select name="select" [(ngModel)]="temaCita.id">

                            <option *ngFor="let item of agenda" value='{{item.id}}'>{{item.tema}}</option>

                        </select></span>
                    <p class="card-text">Descripcion
                        <input type="text" placeholder="{{citaArray[id].contenido}}" name="contenido" [(ngModel)]="cita.contenido" /></p>
                    <p class="card-text">
                        <span> Hora<select name="hora" id="" [(ngModel)]="cita.hora">
                                <option value="10:00">10:00</option>
                                <option value="12:00">12:00</option>
                                <option value="14:00">14:00</option>
                                <option value="16:00">16:00</option>
                                <option value="18:00">18:00</option>
                                <option value="20:00">20:00</option>
                            </select></span>
                    </p>

                    <p><span> Fecha<input type="date" id="start" name="trip-start" min="2020-01-01" max="2020-12-31"
                                [(ngModel)]="cita.fecha" name="fecha" />
                        </span></p>
                    <a href="\\" (click)="eliminar()"><span><img src="../../assets/delete.png" alt=""></span></a>

                    <input type="submit" class="btn btn-primary" id="agendaBtn" value="Enviar" />

                </form>
            </div>
        </div>
    </div>


</div>